<app-header></app-header><br><br><br>
<div class="container">
  <h1 class="py-4 fw-bold">Details de l'annonce</h1>
  <div class="d-flex justify-content-center" *ngIf="detail_spinner == true">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
    <div class="row" *ngIf="detail_spinner == false">
        <div class="col">
            <carousel>
                <slide *ngIf="annonce.image_1">
                  <img src="{{annonce.image_1}}" alt="first slide" style="display: block; width: 100%;">
                </slide>
                <slide *ngIf="annonce.image_2">
                  <img src="{{annonce.image_2}}" alt="first slide" style="display: block; width: 100%;">
                </slide>
                <slide *ngIf="annonce.image_3">
                  <img src="{{annonce.image_3}}" alt="first slide" style="display: block; width: 100%;">
                </slide>
                <slide *ngIf="annonce.image_4">
                  <img src="{{annonce.image_4}}" alt="first slide" style="display: block; width: 100%;">
                </slide>
                <slide *ngIf="annonce.image_5">
                  <img src="{{annonce.image_5}}" alt="first slide" style="display: block; width: 100%;">
                </slide>
                <slide *ngIf="annonce.image_6">
                  <img src="{{annonce.image_6}}" alt="first slide" style="display: block; width: 100%;">
                </slide>
              </carousel>
              <div>
               <div class="row">
                <div class="col">
                    <p class="fs-4 text-start fw-bold">{{annonce.house_type}}</p>
                </div>
                <div class="col">
                    <p class="fs-5 text-end fw-bold">{{annonce.price}} FCFA / mois</p>
                </div>
               </div>
              </div>
              <p>{{annonce.room_nb}} chambre . &nbsp;
                {{annonce.kitchen_nb}} cuisine(s) &nbsp;
                {{annonce.toilet_nb}} douche(s)
              </p>
                <div>
                    <p class="fs-4 fw-bold">Description</p>
                    <p>{{annonce.description}}</p>
                </div>
        </div>
        <div class="col">
            <div class="card">
               <div class="card-body">
                <h3 class="card-title"> Contacter l'annonceur</h3>
                <p class="card-text"><span class="material-icons">phone</span><span>Appeler : </span><span><a href="tel:+237657368904">+237{{annonce.owner.phone_number}}</a></span></p>
                <p class="card-text"><span> <a href="https://wa.me/237691507780">Ecrire sur whatsapp</a></span></p>
               </div>
            </div>
        </div>
    </div>
</div>