<!-- Toolbar -->
<div class="toolbar shadow" role="banner">
  <span class="fs-4 px-3">MakaM</span>
  <div class="row">
    <div class="col">
      <div class="btn-group d-grid" dropdown>
        <button id="button-basic" style="border: 1px solid rgb(129, 128, 128);" dropdownToggle type="button" class="btn dropdown-toggle"
                aria-controls="dropdown-basic">
          {{city}} <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" (click)="selectDouala()">Douala</a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="selectYaounde()">Yaounde</a></li>
        </ul>
      </div>
    </div>

    <div class="col">
        <input type="email" class="form-control" id="floatingInputGrid" placeholder="15000" >
    </div>

    <div class="col">
      <div class="btn-group d-grid" dropdown>
        <button id="button-basic" style="border: 1px solid rgb(129, 128, 128);" dropdownToggle type="button" class="btn dropdown-toggle"
                aria-controls="dropdown-basic">
          {{type}} <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" (click)="Select_ChambreMod()">Chambre moderne</a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="SelectChambreSim()">Chambre a simple</a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="SelectStudioMod()">studio</a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="SelectMiNuStudio()">>mini studio</a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="Select_Appart()">Appartement</a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="SelectAppartMeub()">Appartement Meubler</a></li>
        </ul>
      </div>
   </div>

   <div class="col">
    <button class="btn btnLogin" style="color:white;" [disabled]="city == '' || type == ''" (click)="Search()">Search</button>
   </div>
  </div>
    <div class="spacer"></div>
    <div class="px-4">
     <button class="btn btnLogin text-white mx-2"> + Post and ad</button>
      <a aria-label="Angular on YouTube" class="px-2" [routerLink]="['/login']" style="color:black;text-decoration:none;">
        signIn/signOut
      </a>
    </div>
</div><br><br><br>


