<app-search-bar></app-search-bar>
<!-- body -->

<div class=" py-5 d-flex justify-content-center"  *ngIf="search_spinner == true">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="container py-4" *ngIf="search_spinner == false">
  <p class="fw-light">About 6,730,000 results (0.73 seconds) </p>
  <div class="py-3 result">
    <div class="card mb-3" style="max-width: 540px;" *ngFor="let a of annonce">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{a.image_1}}" class="img-fluid rounded-start" style="height:100%;object-fit:cover" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{a.price}} FCFA / mounth <span class="fw-light" style="font-size:small;">{{a.house_type}}</span></h5>
            <p class="card-subtitle">{{a.quater}}</p>
            <label class="form-text">{{a.room_nb}} chambre &nbsp; . &nbsp; {{a.toilet_nb}} doucher &nbsp; . &nbsp; {{a.kitchen_nb}} cuisine</label>
            <p class="card-text" style="font-size:small;">{{a.description}}</p>
            <button class="btn btn-outline-primary mb-2" [routerLink]="['/search-result',a.id]">Access to Announce</button>
            <p class="card-text"><small class="text-muted">{{a.date_created | date:'medium'}}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
